/* Main Content */
.projectShowcase {
    max-width: 1150px;
    margin: 0px auto;
    overflow: auto;
    padding: 0 20px;
  }
  
  .doeIMG {
    width: auto;
    height: 200px;
    margin-top: 120px;
  }
  
  .doeTitle {
    font-size: 34px;
    font-weight: 300;
  }
  
  .arrowBTN {
    background-image: url(/jakedesign.io/images/arrow.svg); 
    background-size: 14px;
    background-repeat: no-repeat; 
    background-position: center;
    border: 0px solid #000;
    padding: 30px 30px;
    background-color: transparent;
    margin: 0px;
    cursor: none;
  }
  
  .wrapperContainer {
    max-width: 1150px;
    margin: 0px auto;
    overflow: auto;
    padding: 0 20px;
  }
  
  .doeWrapper {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 1fr;
    grid-auto-rows: minmax(10px, auto);
  }
  
  .pifWrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 1fr;
    grid-auto-rows: minmax(10px, auto);
  }
  
  .momentumWrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 1fr;
    grid-auto-rows: minmax(10px, auto);
  }
  
  .munchWrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 1fr;
    grid-auto-rows: minmax(10px, auto);
  }
  
  .box1 {
    grid-row: 1/3;
    padding-top: 50px;
  }
  
  .box2 {
    border-right: 1px solid #000;
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    align-self: flex-end;
  }
  
  .box3 {
    font-size: 34px;
    font-weight: 300;
    text-align: left;
    align-self: flex-end;
    padding-left: 18px;
  }
  
  .box4 {
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    align-self: flex-end;
    justify-self: end;
  }
  
  .box4 :hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  .box5 {
    border-top: 1px solid #000;
  }
  
  .box6 {
    font-family: 'Work Sans', sans-serif;
    grid-column: 3/5;
    border-top: 1px solid #000;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 18px;
  }