@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    cursor: none;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #3554A7;
}

img {
    width: 100%;
}



.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 20px;
}

.cursor {
    width: 0.8rem;
    height: 0.8rem;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 3;
    background-color: rgb(0, 0, 0);
    /* backdrop-filter: invert(100%);  */
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    background-color: transparent;
}

.logo {
    color: #375BBB;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 25px;
}

.logo a {
    text-decoration: none;
    list-style: none;
    cursor: none;
    
}

.logo .tweak {
    transition: 0.2s;
}

.logo .tweak:hover {
    background-image: url(../images/jakedesign-underline.svg);
    background-repeat: no-repeat;
    background-position: 4px 30px;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 0 5px;
    padding-bottom: 25px;
}

.nav-links li:nth-child(4) {
    padding: 0 0 0 5px;
}

.nav-links a {
    text-decoration: none;
    color: #375BBB;
    font-weight: 400;
    font-size: 18px;
    cursor: none;
    padding: 10px;
}

.nav-links .arrow {
    width: 13px;
    padding-left: 5px;
}

.nav-links .arrow1 {
    width: 13px;
    padding-left: 5px;
    transition: 0.3s;
}

.dropdown:hover .arrow1 {
    transform: rotate(90deg);
    padding-bottom: 5px;
}

.nav-links .tweak {
    transition: 0.2s;
}

.nav-links .tweak:hover {
    transform: rotate(-5deg);
    background-image: url(../images/aboutme-underline.svg);
    background-repeat: no-repeat;
    background-position: 0 70px;
    background-position-y: 30px;
}

/* NAV DROPDOWN - WORK */

li a, .dropbtn {
    display: inline-block;
    text-align: center;
}

li.dropdown {
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #375BBB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(-29%, 8%);
}

.dropdownContent a {
    color: #D0CDCB;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent a:hover {
    background-color: #f1f1f1;
    color: #375BBB;
}

.dropdown:hover .dropdownContent {
    display: block;
}

/* BURGER */

.burger {
    display: none;
}

.burger div {
    width: 29px;
    height: 2px;
    background-color: #375BBB;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-38deg) translate(-4px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(38deg) translate(-4px,-6px);
}

/* BURGER SCREEN */

@media screen and (max-width:796px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        z-index: 2;
        right: 0px;
        height: 88vh;
        top: 8vh;
        background-color: #1b1b1b;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 50px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        padding: 4vh;
        opacity: 0;
    }
    .nav-links a {
        font-size: 25px;
        font-weight: 400;
        color: #e6e6e6;
    }
    .nav-links li:nth-child(4) {
        padding: 4vh 0 0 0;
    }
    .burger {
        display: block;
    }
    .dropdown:hover .dropdownContent {
        display: none;
    }
    .logo {
        padding-bottom: 0px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* MUCH HEADER */

.header-box {
    display: flex;
    height: 500px;
    margin-top: 70px;
}

.project-info {
    width: 40%;
}

.project-info h1 {
    font-size: 70px;
    font-weight: 400;
    color: #375BBB;
    margin: 0 0 20px 0;
}

.project-info h2 {
    font-size: 25px;
    font-weight: 400;
    color: #375BBB;
    margin: 0;
    padding: 0;
}
.project-info p {
    font-size: 18px;
    font-weight: 400;
    color: #375BBB;
    margin: 0 0 15px 0;
    padding: 0;
}

.project-img {
    width: 60%;
}

hr {
    border: 1px solid #375BBB;
    margin-top: 50px;
    width: 100%;
}

/* CASESTUDY */

.casestudy {
    display: flex;
    margin-top: 50px;
    position: relative;
}

.casestudy-nav {
    width: 20%;
}

.casestudy-info {
    width: 80%;
}

.casestudy-nav ul {
    position: sticky;
    top: 60px;
    padding-inline-start: 0px;
}

.casestudy-nav li {
    margin: 0 0 10px 0;
    font-size: 18px;
    
}

.casestudy-nav li:hover {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 700;
}

.casestudy-info h1{
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    color: #375BBB;
}

.casestudy-info h2 {
    margin: 0;
    font-size: 35px;
    font-weight: 300;
    color: #375BBB; 
    margin-top: 35px;
}

.casestudy-info h3 {
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    color: #375BBB;
    margin-top: 35px;
    line-height: 1.5;
    background-color: rgba(39, 250, 162, 0.358);
}

.casestudy-info h4 {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    font-size: 50px;
    font-weight: 300;
    color: #375BBB;
}

.casestudy-info h5 {
    margin: 0;
    font-size: 25px;
    font-weight: 300;
    color: #375BBB;
    margin-top: 20px;
}

.casestudy-info h6 {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    color: #375BBB;
}

.casestudy-info li {
    font-family: 'Work Sans', sans-serif;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 300;
    color: #375BBB;
    list-style-type: disc;
    text-indent: -25px;
    line-height: 1.5;
    list-style-position: inside;
}

.casestudy-info p{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    line-height: 1.8;
    font-size: 20px;
    font-weight: 300;
    color: #375BBB;
}

.timeline {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.protopersona {
    margin-top: 30px;
    padding: 10px;
}

.indent {
    padding-left: 22px;
}

.diag {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.diag p {
    margin-left: 10px;
}

.diag-one {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.diag-two {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.af-diag {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    padding-bottom: 40px;
}

.e-map {
    padding-top: 50px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 70px;
}

.likewishwhatif {
    padding-top: 50px;
}

.featurepri {
    padding-top: 50px;
}

.scenario {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.scen-one {
    display: flex;
    width: 50%;
}

.scen-one p{
    margin-left: 20px;
}

.scen-two {
    display: flex;
    width: 50%;
}

.scen-two p{
    margin-left: 20px;
}

.scen-three {
    display: flex;
    width: 50%;
    margin-top: 30px;
}

.scen-three p {
    margin-left: 20px;
}

.scen-four {
    display: flex;
    width: 50%;
    margin-top: 30px;
}

.scen-four p {
    margin-left: 20px;
}

.storyboard {
    margin: 20px 0 70px 0;
}

.userflow {
    padding: 30px 0 50px 0;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}

.lofidesign {
    margin: 30px 0 40px 0;
}

.sketches {
    margin: 30px 0 40px 0;
}

.gplan {
    margin-top: 40px;
}

.gplan h4 {
    font-size: 70px;
    font-weight: 500;
}

.g1{
    display: flex;
    align-items: flex-start;
}

.ginfo1 {
    margin-left: 38px;
    margin-top: 0px;
}

.g2{
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.ginfo2 {
    margin-left: 20px;
    
}

.g3{
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.ginfo3 {
    margin-left: 20px;
}

.g4{
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.ginfo4 {
    margin-left: 20px;
}

blockquote {
    margin: 0 0 0 40px;
}

.steps {
    display: flex;
}

.stepnum {
    padding-left: 20px;
}

.vl {
    height: 420px;
    width: 1px;
    border-left: 1px solid #375BBB;
    margin: 20px 20px 0 10px;
}

.findings {
    display: flex;
    justify-content: space-between;
}
.finding-one {
    display: flex;
}
.finding-two {
    display: flex;
}

.name h5 {
    padding-bottom: 15px;
}

.affdiag {
    margin: 30px auto 50px 0px;
    max-width: 900px;
}

.iterations {
    margin: 30px auto 60px 0px;
    max-width: 1000px;
}

.prototype {
    margin-top: 30px;
}

button {
    margin-top: 60px;
    border: 1px solid #375BBB;
    background-color: transparent;
    color: #375BBB;
    padding: 15px 100px;
    font-size: 25px;
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
}

button:hover {
    margin-top: 60px;
    border: 1px solid #375BBB;
    background-color: #375BBB;
    color: #ffffff;
    padding: 15px 100px;
    font-size: 25px;
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
}

.proto-button .arrow {
    width: 18px;
    padding-left: 1px;
}

/* FOOTER BOX */

.footer-box {
    background-color: #e6e6e6;
    padding-top: 3vh;
    padding-bottom: 4vh;
    margin-top: 8vh;
}

/* CONTACT LINK & UP */

.bottomContainer {
    max-width: 1400px;
    margin: 0px auto;
    overflow: auto;
    padding: 0 20px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.bottom h2 {
    font-size: 24px;
}

.bottomItems {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #375BBB;
}

.bottomItems .arrow {
    width: 18px;
    padding-left: 1px;
}

.bottomItems .uparrow {
    width: 18px;
    padding-left: 0px;
}

.bottomItems a {
    cursor: none;
}

/* FOOTER */

.lineContainer{
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.footerDivider {
    height: 2px;
    margin-top: 15px;
    background-color: #375BBB;
    width: 100%;
}

.footerContainer {
    max-width: 1400px;
    margin: 0px auto;
    overflow: auto;
    padding: 0 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerItems li {
    display: inline-block;
    justify-content: space-around;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
    color: #375BBB;
}

.footerItems li:nth-child(5) {
    padding: 0 0 0 20px;
}

.social {
    font-size: 18px;
    font-weight: 400;
    color: #375BBB;
}

.social a {
    cursor: none;
}

.social .arrow {
    width: 13px;
    padding-left: 3px;
}

/* BOTTOM BAR */

.bottom-bar {
    background-color: #375BBB;
    height: 100%;
    padding: 1px;
}

.bar {
    display: flex;
    justify-content: center;
}

.bar p {
    font-size: 18px;
    color: #e6e6e6;
    font-weight: 300;
}

