@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: whitesmoke;
    cursor: url('../images/cursor-blackdot.svg'), auto;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #3554A7;
}

img {
    width: 100%;
}

.landing-box {
    background-color: #D0CDCB;
    height: 100vh;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 20px;
}

.cursor {
    position: absolute;
    width: 3rem; 
    height: 3rem;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    z-index: 5;
    pointer-events: none;
    transition: all 0.5s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}

.link-grow{
    transform: scale(2);
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    background-color: transparent;
}

.logo {
    color: #375BBB;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 25px;
}

.logo a {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    cursor: url('../images/cursor-blackdot.svg'), auto;
}

.logo .tweak {
    transition: 0.2s;
}

.logo .tweak:hover {
    background-image: url(../images/jakedesign-underline.svg);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: 6px 32px;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 0 5px;
    padding-bottom: 25px;
}

.nav-links li:nth-child(4) {
    padding: 0 0 0 5px;
}

.nav-links a {
    text-decoration: none;
    color: #375BBB;
    font-weight: 400;
    font-size: 18px;
    cursor: url('../images/cursor-blackdot.svg'), auto;
    padding: 10px;
}

.nav-links .arrow {
    width: 13px;
    padding-left: 5px;
}

.nav-links .arrow1 {
    width: 13px;
    padding-left: 5px;
    transition: 0.3s;
}

.dropdown:hover .arrow1 {
    transform: rotate(90deg);
    padding-bottom: 5px;
}

.nav-links .tweak {
    transition: 0.2s;
}

.nav-links .tweak:hover {
    transform: rotate(-5deg);
    background-image: url(../images/jakedesign-underline.svg);
    background-repeat: no-repeat;
    background-position: 0 70px;
    background-position-y: 30px;
}

/* NAV DROPDOWN - WORK */

li a, .dropbtn {
    display: inline-block;
    text-align: center;
}

li.dropdown {
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #375BBB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(-29%, 8%);
}

.dropdownContent a {
    color: #D0CDCB;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent a:hover {
    background-color: #f1f1f1;
    color: #375BBB;
}

.dropdown:hover .dropdownContent {
    display: block;
}

/* BURGER */

.burger {
    display: none;
}

.burger div {
    width: 29px;
    height: 2px;
    background-color: #375BBB;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-38deg) translate(-4px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(38deg) translate(-4px,-6px);
}

/* BURGER SCREEN */

@media screen and (max-width:796px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        z-index: 2;
        right: 0px;
        height: 88vh;
        top: 8vh;
        background-color: #375BBB;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 50px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        padding: 4vh;
        opacity: 0;
    }
    .nav-links a {
        font-size: 25px;
        font-weight: 400;
        color: #D0CDCB;
    }
    .nav-links li:nth-child(4) {
        padding: 4vh 0 0 0;
    }
    .burger {
        display: block;
    }
    .dropdown:hover .dropdownContent {
        display: none;
    }
    .logo {
        padding-bottom: 0px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* HERO */

.hero h1 {
    font-size: 138px;
    margin-top: 8vh;
    margin-bottom: 0;
    font-weight: 400;
    color: #375BBB;
    margin-left: -7px;;
}

.hero .name {
    font-size: 66px;
    margin: 0;
    margin-top: -25px;
    margin-bottom: 0.5vh;;
}

.fixed-container {
    display: table;
    height: 190px;
    width: 100%;
}

.heroText p {
    max-width: 880px;
    font-size: 25px;
    font-weight: 300;
    color: #375BBB;
    line-height: 1.8;
    margin: 0;
}

.hero-statement .brain {
    position: relative;
    display: block;
    margin: 0%;
}



.jakeEmoji {
    height: 370px;
    width: 370px;
    margin: auto;
    margin-top: 9vh;
    border-radius: 50%;
    border: 2px solid #375BBB;
    background-color:transparent;
    background-position: 37px 30px;
    background-image: url(../images/emoji_peace.svg) !important;
    background-size: 340px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-grid {
    display: grid;
    grid-template-columns: 67% 33%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* HERO BUTTON */

.buttonContainer {
    margin-top: 11vh;
}

.btnPrimary {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    border: 2px solid #375BBB;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #375BBB;
    background-color: transparent;
    margin: 0px;
    position: relative;
    z-index: 0;
    cursor: url('../images/cursor-blackdot.svg'), auto;
}

.hoverButton :hover {
    background-color: #375BBB;
    color: #D0CDCB;
}

.button-lineDivider { 
    height: 2px;
    margin-top: -2px;
    background-color: #375BBB;
}

/* SCROLL PROMPT */

.scroll-prompt {
    font-size: 18px;
    font-weight: 300;
    color: #375BBB;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    position: absolute;
    margin: 0;
    padding-bottom: 15px;
}

/* PROJECTS */

.projectShowcase {
    max-width: 1400px;
    margin: 0px auto;
    overflow: auto;
    padding: 0 20px;
}


.doeTitle {
    font-size: 34px;
    font-weight: 300;
}

.arrowBTN {
    background-image: url(../images/blue-arrow-angle.svg); 
    background-size: 16px;
    background-repeat: no-repeat; 
    background-position: center;
    border: none;
    padding: 30px 30px;
    background-color: transparent;
    margin: 0px;
    cursor: url('../images/cursor-blackdot.svg'), auto;
}

.wrapperContainer {
    max-width: 1400px;
    margin: 0px auto;
    overflow: auto;
    padding: 0 20px;
}

.doeWrapper {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 1fr;
    grid-auto-rows: minmax(10px, auto);
}

.pifWrapper {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 1fr;
    grid-auto-rows: minmax(10px, auto);
}

.momentumWrapper {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 1fr;
    grid-auto-rows: minmax(10px, auto);
}

.munchWrapper {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr 1fr;
    grid-auto-rows: minmax(10px, auto);
}

.box1 {
    grid-row: 1/3;
    padding-right: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.box2 {
    border-right: 2px solid #375BBB;
    color: #375BBB;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    align-self: flex-end;
}

.box3 {
    font-size: 34px;
    font-weight: 400;
    color: #375BBB;
    text-align: left;
    align-self: flex-end;
    padding-left: 18px;
}

.box4 {
    border-top: 2px solid #375BBB;
    border-right: 2px solid #375BBB;
    border-left: 2px solid #375BBB;
    align-self: flex-end;
    justify-self: end;
}

.box4 :hover {
    background-color: #375BBB;
    color: rgb(255, 255, 255);
    background-image: url(../images/white-arrow.svg);
}

.box5 {
    border-top: 2px solid #375BBB;
}

.box6 {
    font-family: 'Work Sans', sans-serif;
    grid-column: 3/5;
    border-top: 2px solid #375BBB;
    font-size: 20px;
    font-weight: 300;
    color: #375BBB;
    padding-top: 15px;
    padding-left: 18px;
    line-height: 1.5;
}


/* FOOTER BOX */

.footer-box {
    background-color: #D0CDCB;
    padding-top: 3vh;
    padding-bottom: 4vh;
    margin-top: 15vh;
}

/* CONTACT LINK & UP */

.bottomContainer {
    max-width: 1400px;
    margin: 0px auto;
    overflow: auto;
    padding: 0 20px;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.bottom h2 {
    font-size: 24px;
}

.bottomItems {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #375BBB;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottomItems .arrow {
    width: 18px;
    padding-left: 1px;
}

.bottomItems .uparrow {
    width: 18px;
    padding-left: 0px;
}

.bottomItems a {
    cursor: url('../images/cursor-blackdot.svg'), auto;
}

.bottomItems .contactBTN {
    transition: 0.3s;
}

.bottomItems .contactBTN:hover {
    transform: rotate(-5deg);
}

.bottomItems .top {
    transition: 0.5s;
}

.bottomItems .top:hover {
    transform: rotate(-360deg);
}

/* FOOTER */

.lineContainer{
    max-width: 1400px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.footerDivider {
    height: 2px;
    margin-top: 15px;
    background-color: #375BBB;
    width: 100%;
}

.footerContainer {
    max-width: 1400px;
    margin: 0px auto;
    overflow: auto;
    padding: 0 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerItems li {
    display: inline-block;
    justify-content: space-around;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
    color: #375BBB;
}

.footerItems li:nth-child(5) {
    padding: 0 0 0 20px;
}

.social {
    font-size: 18px;
    font-weight: 400;
    color: #375BBB;
    transition: 0.3s;
}

.social a {
    cursor: url('../images/cursor-blackdot.svg'), auto;
}

.social:hover {
    transform: rotate(-6deg);
}

.social .arrow {
    width: 13px;
    padding-left: 3px;
}

/* BOTTOM BAR */

.bottom-bar {
    background-color: #375BBB;
    height: 100%;
    padding: 1px;
}

.bar {
    display: flex;
    justify-content: center;
}

.bar p {
    font-size: 18px;
    color: #D0CDCB;
    font-weight: 300;
}

/* HIDDEN OBJECTS DESKTOP */

.mobile-header h2 {
    display: none;
}

.mobile-header h3 {
    display: none;
}

.top-box {
    display: none;
}

.btnSecondary {
    display: none;
}

@media screen and (max-width: 1399px) {
    .hero h1 {
        font-size: 128px;
        margin-top: 8vh;
        margin-left: -7px;
    }
    .hero .name {
        font-size: 66px;
    }
    .heroText p {
        max-width: 880px;
        font-size: 24px;
    }
    .jakeEmoji {
        height: 360px;
        width: 360px;
        margin-top: 12vh;
        background-position: 38px 28px;
        background-size: 325px;
    }
}
@media screen and (max-width: 1359px) {
    .hero h1 {
        font-size: 119px;
    }
    .hero .name {
        font-size: 64px;
    }
    .heroText p {
        max-width: 850px;
    }
    .jakeEmoji {
        height: 350px;
        width: 350px;
        margin-top: 8vh;
        background-position: 36px 30px;
        background-size: 310px;
    }
}
@media screen and (max-width: 1309px) {
    .hero h1 {
        font-size: 107px;
        margin-left: -5px;
    }
    .hero .name {
        font-size: 60px;
    }
    .heroText p {
        max-width: 770px;
    }
    .jakeEmoji {
        height: 330px;
        width: 330px;
        margin-top: 8vh;
        background-position: 36px 30px;
        background-size: 290px;
    }
}
@media screen and (max-width: 1223px) {
    .hero h1 {
        font-size: 100px;
        margin-left: -4px;
    }
    .hero .name {
        font-size: 54px;
    }
    .heroText p {
        max-width: 770px;
    }
    .jakeEmoji {
        height: 320px;
        width: 330px;
        margin-top: 7vh;
        background-position: 36px 30px;
        background-size: 290px;
    }
}
@media screen and (max-width: 1115px) {
    .hero h1 {
        font-size: 90px;
        margin-left: -4px;
    }
    .hero .name {
        font-size: 50px;
    }
    .heroText p {
        max-width: 680px;
        font-size: 23px;
    }
    .jakeEmoji {
        height: 280px;
        width: 280px;
        margin-top: 9vh;
        background-position: 30px 25px;
        background-size: 249px;
    }
}
@media screen and (max-width: 1029px) {
    .hero h1 {
        font-size: 85px;
        margin-left: -3px;
    }
    .hero .name {
        font-size: 45px;
    }
    .heroText p {
        max-width: 680px;
        font-size: 23px;
    }
    .jakeEmoji {
        height: 270px;
        width: 270px;
        margin-top: 9vh;
        background-position: 30px 22px;
        background-size: 235px;
    }
}
@media screen and (max-width: 952px) {
    .hero h1 {
        font-size: 84px;
        margin-left: -2;
        padding-bottom: 3px;
    }
    .hero .name {
        font-size: 40px;
    }
    .heroText p {
        max-width: 530px;
        font-size: 21px;
    }
    .jakeEmoji {
        height: 268px;
        width: 268px;
        margin-top: 9vh;
        background-position: 30px 22px;
        background-size: 235px;
    }
}
@media screen and (max-width: 856px) {
    .hero h1 {
        font-size: 84px;
    }
    .hero .name {
        font-size: 38px;
    }
    .heroText p {
        max-width: 490px;
        font-size: 20px;
    }
    .jakeEmoji {
        height: 257px;
        width: 257px;
        margin-top: 10vh;
        background-position: 29px 29px;
        background-size: 215px;
    }
}
@media screen and (max-width: 781px) {
    .hero h1 {
        font-size: 83px;
    }
    .hero .name {
        font-size: 33px;
    }
    .heroText p {
        max-width: 460px;
        font-size: 19px;
    }
    .jakeEmoji {
        height: 210px;
        width: 210px;
        margin-top: 12vh;
        background-position: 18px 14px;
        background-size: 200px;
    }
}

/* MOBILE & TABLET VERSION */

@media screen and (max-width: 736px) {
    .hero h1 {
        display: none;
    }
    .heroText p {
        max-width: 100%;
        font-size: 23px;
        margin-bottom: 4vh;
    }
    .jakeEmoji {
        display: none;
    }
    .hero-grid {
        display: block;
        grid-template-rows: 1fr, 1fr, 1fr, 1fr;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .mobile-header h2 {
        display: inline-block;
        font-size: 90px;
        font-weight: 400;
        color: #375BBB;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: left;
    }
    .mobile-header h3 {
        font-size: 35px;
        font-weight: 400;
        margin: 0;
        padding-bottom: 20px;
        color: #375BBB;
        display: flex;
        justify-content: left;
    }
    .top-box {
        margin-top: 7vh;
        margin-bottom: 4vh;
        background-color: transparent;
        height: 100px;
        border: 2px solid #375BBB;
        border-radius: 110px;
        display: flex;
    }
    .button-lineDivider { 
        display: none;
    }
    .buttonContainer {
        margin-top: 4vh;
        display: flex;
        justify-content: center;
    }
    .btnPrimary {
        display: none;
    }
    .btnSecondary {
        display: block;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 300;
        border: 2px solid #375BBB;
        padding: 15px 90px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        color: #375BBB;
        background-color: transparent;
        margin: 0px;
        position: relative;
        z-index: 0;
        cursor: none;
    }
    .vert-line {
        height: 90px;
        width: 2px;
        background-color: #375BBB;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}
@media screen and (max-width: 600px) {
    .heroText p {
        font-size: 23px;
        margin-bottom: 2vh;
    }
    .mobile-header h2 {
        font-size: 85px;
    }
    .mobile-header h3 {
        font-size: 35px;
        padding-bottom: 10px;
    }
    .top-box {
        margin-top: 2vh;
        margin-bottom: 1vh;
        height: 80px;
    }
    .btnSecondary {
        padding: 15px 90px;
    }
    .buttonContainer {
        margin-top: 4vh;
    }
    .scroll-prompt {
        font-size: 16px;
    }
    .fixed-container {
        display: table;
        height: 80px;
        width: 100%;
    }
    .scroll-prompt {
        padding-bottom: 10px;
        width: 30px;
    }
}
@media screen and (max-width: 513px) {
    .heroText p {
        font-size: 19px;   
    }
    .mobile-header h2 {
        font-size: 80px;
        margin-left: -2px;
    }
    .mobile-header h3 {
        font-size: 31px;
    }
    .top-box {
        margin-top: 3vh;
        margin-bottom: 1vh;
        height: 75px;
    }
    .btnSecondary {
        padding: 15px 90px;
    }
    .buttonContainer {
        margin-top: 2vh;
    }
    .fixed-container {
        display: table;
        height: 100px;
        width: 100%;
    }
    .scroll-prompt {
        padding-bottom: 10px;
        width: 30px;
    }
}

@media screen and (max-width: 443px) {
    .heroText p {
        font-size: 18px;
        padding-bottom: 1vh;
    }
    .mobile-header h2 {
        font-size: 70px;
    }
    .mobile-header h3 {
        font-size: 28px;
    }
    .top-box {
        margin-top: 3vh;
        margin-bottom: 2vh;
        height: 69px;
    }
    .btnSecondary {
        padding: 15px 145px;
    }
    .buttonContainer {
        margin-top: 2vh;
    }
    .fixed-container {
        display: table;
        height: 110px;
        width: 100%;
    }
    .scroll-prompt {
        padding-bottom: 10px;
        width: 30px;
    }
}
@media screen and (max-width: 404px) {
    .heroText p {
        font-size: 18px;
    }
    .mobile-header h2 {
        font-size: 60px;
    }
    .mobile-header h3 {
        font-size: 25px;
    }
    .top-box {
        margin-top: 7vh;
        margin-bottom: 5vh;
        height: 69px;
    }
    .btnSecondary {
        padding: 15px 145px;
    }
    .buttonContainer {
        margin-top: 4vh;
    }
    .vert-line {
        height: 60px;
        width: 2px;
        background-color: #375BBB;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}
@media screen and (max-width: 399px) {
    .btnSecondary {
        padding: 15px 135px;
    }
}
@media screen and (max-width: 388px) {
    .btnSecondary {
        padding: 15px 125px;
    }
}
@media screen and (max-width: 365px) {
    .btnSecondary {
        padding: 15px 105px;
    }
    .mobile-header h2 {
        font-size: 50px;
    }
    .mobile-header h3 {
        font-size: 23px;
    }
}
@media screen and (max-width: 320px) {
    .btnSecondary {
        padding: 15px 105px;
        font-size: 16px;
    }
    .mobile-header h2 {
        font-size: 45px;
    }
    .mobile-header h3 {
        font-size: 20px;
    }
    .heroText p {
        font-size: 16px;
    }
    .buttonContainer {
        margin-top: 3vh;
    }
}