@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: whitesmoke;
    cursor: url('../images/cursor-blackdot.svg'), auto;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #375BBB;
}

.cursor {
    position: absolute;
    width: 3rem; 
    height: 3rem;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    z-index: 5;
    pointer-events: none;
    transition: all 0.5s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}

/* CONTACT */

.contact-container {
    max-width: 1400px;
    margin: auto auto;
    padding: 0 20px;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74vh;
}

.contactbox-1 {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    margin-right: 20px;
}

.contactbox-1 h1 {
    font-size: 90px;
    color: #3554A7;
    font-weight: 400;
}

.contactbox-1 li a {
    font-size: 20px;
    color: #3554A7;
    margin: 5px;
    transition: 0.4s;
}
.contactbox-1 li a:hover {
    background-image: url(../images/underline-tan-straight.svg);
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: 0px 22px;
}

.contactbox-1 li a img{
    padding-left: 5px;
}

.contactbox-2 {
    min-height: 420px;
    min-width: 420px;
    background-image: url(../images/emoji_thumbs.svg);
    background-repeat: no-repeat;
    background-size: 330px;
    background-position: 53px;
    border-radius: 50%;
    border: 1px solid #375BBB;
    margin-left: 20px;
}





















