@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: whitesmoke;
    cursor: url('../images/cursor-blackdot.svg'), auto;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #3554A7;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 20px;
}

.cursor {
    position: absolute;
    width: 3rem; 
    height: 3rem;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    z-index: 5;
    pointer-events: none;
    transition: all 0.5s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}

.link-grow{
    transform: scale(2);
}


/* RESUME */

.resume-container {
    max-width: 1400px;
    margin: 0px auto;
    overflow: auto;
    padding: 0 20px;
    margin-top: 7vh;
    margin-bottom: 4vh;
}

.experience-grid .header h1 {
    font-size: 50px;
    font-weight: 400;
    color: #375BBB;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 30px;
}

.experience-grid .blank {
    background-image: url(../images/emoji-think.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
    border-radius: 50%;
    border: 2px solid #375BBB;
    height: 200px;
    width: 200px;
}

.experience-grid {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 3fr;
    grid-gap: 5px;
    margin-top: 5px;
    grid-template-areas: 
        "b1 hd hd hd"
        "b1 c1 c2 c3";
}

.header {
    grid-area: hd;
    border-bottom: 2px solid #375BBB;
    margin-bottom: 25px;
}

.blank {
    grid-area: b1;
}
.exp-1 {
    grid-area: c1;
}
.exp-2 {
    grid-area: c2;
}
.exp-3 {
    grid-area: c3;
}

.exp-1 h2{
    font-size: 25px;
    font-weight: 400;
    color: #375BBB;
    margin: 0;
}

.exp-2 h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color:#375BBB;
}

.exp-2 p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color:#375BBB;
    padding-bottom: 35px;
}

.exp-3 h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color:#375BBB;
}

.exp-3 p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color:#375BBB;
    padding-bottom: 35px;
}

.education-grid {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 3fr;
    grid-gap: 5px;
    margin-top: 3vh;
    grid-template-areas: 
        "b1 hd hd hd"
        "b1 c1 c2 c3";
}

.ed-1 {
    grid-area: c1;
}
.ed-2 {
    grid-area: c2;
}
.ed-3 {
    grid-area: c3;
}

.ed-1 h2{
    font-size: 25px;
    font-weight: 400;
    color: #375BBB;
    margin: 0;
}

.ed-2 h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color:#375BBB;
}

.ed-2 p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color:#375BBB;
    padding-bottom: 35px;
}

.ed-3 h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color:#375BBB;
}

.ed-3 p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color:#375BBB;
    padding-bottom: 35px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 3fr;
    grid-gap: 5px;
    margin-top: 3vh;
    grid-template-areas: 
        "b1 hd hd hd"
        "b1 c1 c2 c3";
}

.sk-1 {
    grid-area: c1;
}
.sk-2 {
    grid-area: c2;
}
.sk-3 {
    grid-area: c3;
}

.sk-1 h2 {
    font-size: 25px;
    font-weight: 400;
    color: #375BBB;
    margin: 0;
}

.sk-2 h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color:#375BBB;
    padding-bottom: 10px;
}

.sk-2 p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color:#375BBB;
    padding-bottom: 10px;
}

.sk-3 h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color:#375BBB;
    padding-bottom: 10px;
}

.sk-3 p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color:#375BBB;
    padding-bottom: 10px;
}

.sk-3 h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color:#375BBB;
    padding-bottom: 10px;
    padding-top: 27px;
}

